<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--aspectj 驱动器 -->
    <aop:aspectj-autoproxy/>


    <bean id="cookA" class="com.sheyla.springmvc.controller.demo.aop.CookA"/>
    <bean class="com.sheyla.springmvc.controller.demo.aop.JoinPointAspect"/>

    <!--aspectj 驱动器 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="cookC" class="com.sheyla.springmvc.controller.demo.aop.CookC"/>
    <bean class="com.sheyla.springmvc.controller.demo.aop.ParamsAspect"/>

    <bean id="cookD" class="com.sheyla.springmvc.controller.demo.aop.demo4.CookD"/>
    <bean class="com.sheyla.springmvc.controller.demo.aop.demo4.ClassAnnotationObjectAspect"/>
</beans>
